{% extends 'base.html' %}

{% block content %}
{{ form2.media }}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% if object %}
    <h1>Update {{ object.title }}</h1>
  {% else %}
    <h1>Add a new event</h1>
  {% endif %}
  <table>
    {{ form.as_table }}
    {{ form2.as_table }}
  </table>
  <input type="submit" value="Submit" class="btn">
</form>
<div class="style-help">
  <h2 class="style-help-header">Defaults</h2>
  <table>
    <tbody>
      <tr>
        <td>
          Background color:
        </td>
        <td class="white-bg">
          <span style="color: #19181A;">
            #19181A
          </span>
        </td>
      </tr>
      <tr>
        <td>
          Background opacity:
        </td>
        <td class="white-bg">
          <span style="color: #19181A;">
            100
          </span>
        </td>
      </tr>
      <tr>
        <td>
          Text color:
        </td>
        <td class="white-bg">
          <span style="color: #FAB139;">
            #FAB139
          </span>
        </td>
      </tr>
      <tr>
        <td>
          Text opacity:
        </td>
        <td class="white-bg">
          <span style="opacity: 70%;">
            #FAB139
          </span>
        </td>
      </tr>
      <tr>
        <td>
          Heading color:
        </td>
        <td class="white-bg">
          <span class="primary-heading" style="color: #9ECE9A;">
            #9ECE9A
          </span>
        </td>
      </tr>
      <tr>
        <td>
          Heading opacity (%):
        </td>
        <td class="white-bg">
          <span class="primary-heading" style="opacity: 100%;">
            100
          </span>
        </td>
      </tr>
      <tr>
        <td>
          Font family:
        </td>
        <td class="white-bg">
          <span style="color: black; opacity: 100%; font-family: Papyrus;">
            Papyrus
          </span>
        </td>
      </tr>
      <tr>
        <td>
          Font size:
        </td>
        <td class="white-bg">
          <span style="color: black; font-size: 18px;">
            18px
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <p>The easiest way to return to a default is to clear the relevant cell.</p>
  <p>
    HTML uses hexadecimal codes ("hex codes") to assign color. You can use the
    input's Color Picker to get a hex code, or you can copy paste and the hex
    code from some other website.
  </p>
  <p>
    Some useful websites for finding hex codes:
    <ul>
      <li>
        W3 Schools has a list of
        <a href="https://coolors.co/generate" class="link" >
          the most popular colors
        </a>
        of 2021. You can find links to past years' popular colors in the
        sidebar, as well as articles on topics such as
        <a
          href="https://www.w3schools.com/colors/colors_monochromatic.asp"
          class="link"
        >
          color schemes
        </a>
        , 
        <a
          href="https://www.w3schools.com/colors/colors_psychology.asp"
          class="link"
        >
          color psychology
        </a>
        , and more.
      </li>
      <li>
        Coolors has
        <a href="https://coolors.co/generate" class="link" >
          a great tool
        </a>
        for generating color schemes.
      </li>
      <li>
        CSS Gradient has
        <a href="https://cssgradient.io/" class="link" >
          a more powerful color picker
        </a>
        than the default provided here.
      </li>
    </ul>
  </p>
  <p>
    For a quick look at HTML and CSS, check out my
    <a href="https://drive.google.com/file/d/1ucVuGJ-h5fQe3dEhH8cUzip6XbCdfc7G/view?usp=sharing">
      HTML and CSS cheatsheet
    </a>
    . For more details check out my
    <a href="https://drive.google.com/file/d/17C-ceJCsx8wP2F1a8jv8p0rMjdXt0DC_/view?usp=sharing">
      HTML and CSS guide
    </a>
    ; at the end of the document, you can find links to more information on HTML, CSS, and colors on the web.
  </p>
</div>
{% endblock %}