{% extends 'base.html' %}

{% block content %}
<div class="gallery-image-{% cycle 'odd' 'even' %}">
  <div class="image-wall">
    <img
    class="gallery-image"
    src="{{ object.image_link }}"
  >
  </div>
  {% if object.caption %}
  <div class="text-wall">
    <div class="floating-caption">
      {{ object.caption }}
    </div>
  </div>
  {% endif %}
</div>
<h3>Would you like to update the caption for this image?</h3>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Edit Caption" class="btn">
</form>

{% endblock %}