{% extends 'base.html' %}

{% block content %}

<section>
  <h2>Add Slide Image</h2>
  <form action="{% url 'add_slide_image' main_page.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    {{ slide_image_form.as_p }}
    </table>
    <input type="submit" value="Add Image">
  </form>
  <table>
  <h2>Delete Slide Image</h2>
  {% for slide_image in slide_images %}
    <td>
      <tr>
        <img class="thumbnail" src="{{ slide_image.image_link }}">
      </tr>
      <tr>
        <a href="{% url 'delete_slide_image' slide_image.id %}">Delete</a>
      </tr>
    </td>
  {% endfor %}
  </table>
</section>

{% endblock %}