{% extends 'base.html' %}

{% block content %}

{{ form.media }} 

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit" class="btn">
</form>
<div class="style-help">
<h1>Style Help</h1>
<h2 class="style-help-header">Defaults</h2>
<table>
  <tbody>
    <tr>
      <td>
        Background color:
      </td>
      <td class="white-bg">
        <span style="color: #19181A;">
          #19181A
        </span>
      </td>
    </tr>
    <tr>
      <td>
        Font color:
      </td>
      <td class="white-bg">
        <span style="color: #FAB139;">
          #FAB139
        </span>
      </td>
    </tr>
    <tr>
      <td>
        Font opacity (%):
      </td>
      <td class="white-bg">
        <span style="color: #FAB139; opacity: 70%;">
          70
        </span>
      </td>
    </tr>
    <tr>
      <td>
        Font size:
      </td>
      <td class="white-bg">
        <span style="color: black; font-size: 18px;">
          18px
        </span>
      </td>
    </tr>
  </tbody>
</table>
<p>
  The default <a class="link" href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-family" style="font-weight: bold;">font-family</a>
  is Source Sans Pro; the default <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-size">font-size is</a>
  18px. In the font family field below, you can choose a new font from the drop down list. You can also enter a number in the font size field to make the fonts smaller or larger.
</p>
<p class="preceding-list">
  <a class="link" href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value">Choosing a new color is more complex.</a>
  For example, if you wanted to make your website's text <span style="color: purple;">purple</span>,
  you could enter into the font color field any of the following:
</p>
  <ul class="following-list">
    <li>
      purple
    </li>
    <li>
      #800080
    </li>
    <li>
      rgba(128,0,128)
    </li>
  </ul>
<p>
  <a class="link" href="https://www.w3.org/wiki/CSS/Properties/color/keywords#Color_keywords">Many colors</a>
  are available by name, as in the first option. The second option ("hexadecimal" notation) and the third option (called either "rgb()"
  or "rgba()"   notation) allow for thousands of choices.
  <a class="link" href="https://cssgradient.io/">This website</a> is a great and
  simple tool for finding the specific shade you might want; <a href="https://coolors.co/">coolors.co</a>
  is even more powerful, but a little harder to use. Both helpfully generate hex and rgba codes for you to use.
</p>
<p>
  If you want to revert to the default font color, you can copy and paste
  <span class="link">rgba(250,177,98,.7)</span> into the font color field.
</p>
<p>
  The background color field works the same way as the font color field.
  If you want to revert the default background color, you can copy and paste
<span class="link">#19181A</span> into the font color field.
</p>
</div>

{% endblock %}