{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load markdown_extras %}
<div id="blog-container">
  <div class="post">
    {% if sacredjourney.banner_picture %}
      <img class="post-image" src="{{ sacredjourney.banner_picture }}">
    {% endif %}
    <a href="{{ sacredjourney.worldwidequest_link }}"><h2>{{ sacredjourney.name }}</h2></a>
    <div class="journey-info">
      <span>{{ sacredjourney.start_date }} - {{ sacredjourney.end_date }}</span>
      |
      <span>{{ sacredjourney.destination }}</span>
    </div>
    <p>{{ sacredjourney.description | markdown | safe }}</p>
    <p>{{ sacredjourney.itinerary | markdown | safe}}</p>
  </div>
</div>
{% endblock %}