{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load markdown_extras %}
<div id="blog-container">
  <div class="post">
    {% if sacredjourney.banner_picture %}
      <img class="post-image" src="{{ sacredjourney.banner_picture }}">
    {% endif %}
    <h2>{{ sacredjourney.name }}</h2>
    <p>{{ sacredjourney.start_date }} - {{ sacredjourney.end_date }}</p>
    <p>{{ sacredjourney.destination }}</p>
    <p>{{ sacredjourney.description | markdown | safe }}</p>
    <p>{{ sacredjourney.itinerary | markdown | safe}}</p>
  </div>
</div>
{% endblock %}