{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load markdown_extras %}
<div id="blog-container">
  <div class="post">
    {% if sacredjourney.image %}
      <img class="post-image" src="{{ sacredjourney.image_link }}">
    {% endif %}
    <div>
    <a href="{{ sacredjourney.worldwidequest_link }}"><h2>{{ sacredjourney.name }}</h2></a>
      {% if perms.main_app.change_sacred_journey %}
        <a href="{% url 'sacred_journey_update' sacredjourney.slug %}">Edit</a>
      {% endif %}
      {% if perms.main_app.change_sacred_journey and perms.main_app.delete_sacred_journey %}
        |
      {% endif %}
      {% if perms.main_app.delete_sacred_journey %}
        <a href="{% url 'sacred_journey_delete' sacredjourney.slug %}">Delete</a>
      {% endif %}
    </div>
    <div class="journey-info">
      <span>{{ sacredjourney.start_date|date:"M j" }} - {{ sacredjourney.end_date|date:"j Y" }}</span>
      |
      <span>{{ sacredjourney.destination }}</span>
      {% if sacredjourney.worldwidequest_link %}
      | <a href="{{ sacredjourney.worldwidequest_link }}">View on worldwidequest.com</a>
      {% endif %}
    </div>
    <p>{{ sacredjourney.description | markdown | safe }}</p>
    <p>{{ sacredjourney.itinerary | markdown | safe}}</p>
  </div>
</div>
{% endblock %}