{% extends 'base.html' %}
{% block content %}
{% load static %}

{% if perms.main_app.add_sacred_journey %}
  <h3> 
    <a href="{% url 'sacred_journey_page_update' page.id %}">Edit</a>
    |
    <a href="{% url 'sacred_journey_create' %}">Add a Sacred Journey</a>
    |
    <a href="{% url 'event_create' %}">Add an Event</a>
    |
    <a
    href="{% url 'style_control' style_control.id %}?next={{ request.path|urlencode }}"
    >
      Change Website Styles
    </a>
  </h3>
{% endif %}
<div id="upcoming-journeys">
  <h2 class="primary-heading">
    {% if page.upcoming_journeys_heading %}
      {{ page.upcoming_journeys_heading }}
    {% else %}
      Upcoming Journeys
    {% endif %}
  </h2>
  {% if upcoming_journeys %}
    {% for journey in upcoming_journeys %}
        {% if journey.class_name == 'SacredJourney' %}
          <a class="post-link" href="{% url 'sacred_journey_detail' journey.slug %}">
        {% elif journey.class_name == 'Event' %}
          <a class="post-link" href="{% url 'event_detail' journey.slug %}">
        {% endif %}
          <div class="post-preview">
            <div class="post-preview-image-container">
              {% if journey.image %}
              <img
                class="post-preview-image"
                src="{{ journey.image_link }}"
              >
              {% else %}
              <div class="post-no-image"></div>
              {% endif %}
            </div>
            <div>
              <h2 class="post-preview-heading content-heading">
                {{ journey.title }}
              </h2>
              <p class="byline">
                {{ journey.start_date|date:"M j" }} - {{ journey.end_date|date:"j Y"}}
                {% if perms.main_app.change_sacred_journey or perms.main_app.delete_sacred_journey %}
                  |
                {% endif %}
                {% if perms.main_app.change_sacred_journey %}
                  {% if journey.class_name == 'SacredJourney' %}
                    <a href="{% url 'sacred_journey_update' journey.slug %}">Edit</a>
                  {% elif journey.class_name == 'Event' %}
                    <a href="{% url 'event_update' journey.slug %}">Edit</a>
                  {% endif %}
                {% endif %}
                {% if perms.main_app.change_sacred_journey and perms.main_app.delete_sacred_journey %}
                  |
                {% endif %}
                {% if perms.main_app.delete_sacred_journey %}
                  {% if journey.class_name == 'SacredJourney' %}
                    <a href="{% url 'sacred_journey_delete' journey.slug %}">Delete</a>
                  {% elif journey.class_name == 'Event' %}
                    <a href="{% url 'event_delete' journey.slug %}">Delete</a>
                  {% endif %}
                {% endif %}
              </p>
              <p class="post-preview-text content-body">
                {{ journey.description|truncatewords:15}}
              </p>
            </div>
          </div>
        </a>
    {% endfor %}
  {% elif page.upcoming_journeys_blurb %}
  <p class="main-text">
    {{ page.upcoming_journeys_blurb }}
  {% else %}
    There are no upcoming journeys.
  
  </p>
  {% endif %}
</div>
<div id="previous-journeys">
  <h2 class="primary-heading">
    {% if page.previous_journeys_heading %}
      {{ page.previous_journeys_heading }}
    {% else %}
      Previous Journeys
    {% endif %}
  </h2>
  {% if previous_journeys %}
    {% for journey in previous_journeys %}
        <a class="post-link" href="{% url 'sacred_journey_detail' journey.slug %}">
          <div class="post-preview">
            <div class="post-preview-image-container">
              {% if journey.image %}
                <img
                class="post-preview-image"
                src="{{ journey.image_link }}"
                >
              {% else %}
                <div class="post-no-image"></div>
              {% endif %}
            </div>
            <div>
              <h2 class="post-preview-heading content-heading">
                {{ journey.title }}
              </h2>
              <p class="byline">
                {{ journey.start_date|date:"M j" }} - {{ journey.end_date|date:"j Y"}}
                {% if perms.main_app.change_sacred_journey or perms.main_app.delete_sacred_journey %}
                  |
                {% endif %}
                {% if perms.main_app.change_sacred_journey %}
                  {% if journey.class_name == 'SacredJourney' %}
                    <a href="{% url 'sacred_journey_update' journey.slug %}">Edit</a>
                  {% elif journey.class_name == 'Event' %}
                    <a href="{% url 'event_update' journey.slug %}">Edit</a>
                  {% endif %}
                {% endif %}
                {% if perms.main_app.change_sacred_journey and perms.main_app.delete_sacred_journey %}
                  |
                {% endif %}
                {% if perms.main_app.delete_sacred_journey %}
                  {% if journey.class_name == 'SacredJourney' %}
                    <a href="{% url 'sacred_journey_delete' journey.slug %}">Delete</a>
                  {% elif journey.class_name == 'Event' %}
                    <a href="{% url 'event_delete' journey.slug %}">Delete</a>
                  {% endif %}
                {% endif %}
              </p>
              <p class="post-preview-text content-body">
                {{ journey.description|truncatewords:15}}
              </p>
            </div>
          </div>
        </a>

    {% endfor %}
  {% else %}
    <p>There are no previous journeys.</p>
  {% endif %}
</div>

{% endblock %}