{% extends 'base.html' %}
{% block content %}
{% load static %}

{% if perms.main_app.add_sacred_journey %}
  <h2><a href="{% url 'sacred_journey_create' %}">Add a Sacred Journey</a></h2>
{% endif %}
<div class="">
  <h2>Upcoming Journeys</h2>
  {% if upcoming_journeys %}
    {% for journey in upcoming_journeys %}
        <a class="post-link" href="{% url 'sacred_journey_detail' journey.slug %}">
          <div class="post-preview">
            <div class="post-preview-image-container">
              {% if journey.image %}
              <img
                class="post-preview-image"
                src="{{ journey.image_link }}"
              >
              {% else %}
              <div class="post-no-image"></div>
              {% endif %}
            </div>
            <div>
              <h2 class="post-preview-heading">
                {{ journey.name }}
              </h2>
              <p>
                {{ journey.start_date|date:"M j" }} - {{ journey.end_date|date:"M j"}}
                {% if perms.main_app.change_sacred_journey or perms.main_app.delete_sacred_journey %}
                  |
                {% endif %}
                {% if perms.main_app.change_sacred_journey %}
                  <a href="{% url 'sacred_journey_update' journey.slug %}">Edit</a>
                {% endif %}
                {% if perms.main_app.change_sacred_journey and perms.main_app.delete_sacred_journey %}
                  |
                {% endif %}
                {% if perms.main_app.delete_sacred_journey %}
                  <a href="{% url 'sacred_journey_delete' journey.slug %}">Delete</a>
                {% endif %}
              </p>
              <p class="post-preview-text">
                {{ journey.description|truncatewords:15}}
              </p>
            </div>
          </div>
        </a>
    {% endfor %}
  {% else %}
  <p>There are no upcoming journeys.</p>
  {% endif %}

  <h2>Previous Journeys</h2>
<div>
  {% if previous_journeys %}
    {% for journey in previous_journeys %}
        <a class="post-link" href="{% url 'sacred_journey_detail' journey.slug %}">
          <div class="post-preview">
            <div class="post-preview-image-container">
              {% if journey.image %}
                <img
                class="post-preview-image"
                src="{{ journey.image_link }}"
                >
              {% else %}
                <div class="post-no-image"></div>
              {% endif %}
            </div>
            <div>
              <h2 class="post-preview-heading">
                {{ journey.name }}
              </h2>
              <p>
                {{ journey.start_date|date:"M j" }} - {{ journey.end_date|date:"M j"}}
                {% if perms.main_app.change_sacred_journey or perms.main_app.delete_sacred_journey %}
                  |
                {% endif %}
                {% if perms.main_app.change_sacred_journey %}
                  <a href="{% url 'sacred_journey_update' journey.slug %}">Edit</a>
                {% endif %}
                {% if perms.main_app.change_sacred_journey and perms.main_app.delete_sacred_journey %}
                  |
                {% endif %}
                {% if perms.main_app.delete_sacred_journey %}
                  <a href="{% url 'sacred_journey_delete' journey.slug %}">Delete {{ journey.slug }}</a>
                {% endif %}
              </p>
              <p class="post-preview-text">
                {{ journey.description|truncatewords:15}}
              </p>
            </div>
          </div>
        </a>

    {% endfor %}
  {% else %}
    <p>There are no previous journeys.</p>
  {% endif %}
  </div>

</div>
{% endblock %}