{% extends 'base.html' %}
{% block content %}
{% load static %}

<h2>Photography</h2>
<div class="row">

{% for dis in display %}
  {% if dis %}
  <a href="{% url 'photos_category' dis.2 %}">
    <div class="img-frame" id="mystical-moments">
      <img
        class="img-link"
        src="{{ dis.0.photo_link }}"
        width=auto
        height=340
      >
      <h2 class="img-heading">
        {{ dis.1 }}
      </h2>
    </div>
  </a>
  {% else %}

  {% endif %}

{% endfor %}
</div>

<h2>Music</h2>

{% endblock %}