{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wayne Walder</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <div id="page-wrap">
      <header>
          <a id="logo" href="{% url 'home' %}">
            REVEREND WAYNE WALDER
          </a>
      </header>
      <section id="container">
        {% block content %}
        {% endblock %}
      </section>
      <footer>
        <p>
          © Walder, Writer. 2021. All rights reserved.
        </p>
      </footer>
    </div>
</body>
</html>