{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load markdown_extras %}

{% if perms.main_app.change_mainpage %}
  <h3>
    <a href="{% url 'main_page_update' main_page.id %}">Edit Main Page</a>
    |
    <a href="{% url 'edit_slides' main_page.id %}">Edit Slides</a>
  </h3>
{% endif %}
  <section id="part-one">
    <div id="txt">
      <h2>{% if main_page.tagline %}{{ main_page.tagline|markdown|safe }}{% endif %}</h2>
      <div id="main-page-paragraphs">
      {{ main_page.main_text|markdown|safe}}
      </div>
    </div>
    <div id="cdsldrcntnr">
      <div class="coda-slider"  id="slider-id">
        {% for slide_image in slide_images %}
        <div>
          <div class="backdrop-container">
            <img
              class="slide-image"
              src="{{ slide_image.image_link }}"
            >
            <h1 class="img-heading">Test</h1>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section id="part-two">
    <div class="img-grid">
      {% for menu_image in menu_images %}
      <div class="img-grid-item">
        <a href="{{ menu_image.text|slugify }}" class="menu-img" id="menu-img-{{ forloop.counter }}">
          <div class="img-frame">
            {% if menu_image.image_link %}
            <img
              class="img-link img-main-page"
              src="{{ menu_image.image_link }}"
            >
            {% else %}
            <div class="substitute"></div>
            {% endif %}
            <h2 class="img-heading">
                {{ menu_image.text|title }}
            </h2>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}