{% extends 'base.html' %}
{% block content %}
{% load static %}

<div id="slider-container">
<div class="slide" id="slide-1">
  <img
    class="slide-image"
    src="{% static 'images/crops/34-wayne-praying.jpeg' %}"
    width=auto
    height=593
  >
  <div class="txt-overlay">
    <p class="big-word">Lorem ipsum dolor sit amet.</p>
    <p>
      Consectetur adipiscing elit. Integer ultricies mi nec elit pretium
      porta. Ut pellentesques mollis magna et.
    </p>
  </div>
</div>
<div class="slide" id="slide-2">
  <img
    class="slide-image"
    src="{% static 'images/crops/34-belize-sarnac.jpeg' %}"
    width=auto
    height=593
  >
  <div class="txt-overlay">
    <p class="big-word">Lorem ipsum dolor sit amet.</p>
    <p>
      Consectetur adipiscing elit. Integer ultricies mi nec elit pretium
      porta. Ut pellentesques mollis magna et.
    </p>
  </div>
</div>
<div class="slide" id="slide-3">
  <img
    class="slide-image"
    src="{% static 'images/crops/34-openings.jpeg' %}"
    width=auto
    height=593
  >
  <div class="txt-overlay">
    <p class="big-word">Lorem ipsum dolor sit amet.</p>
    <p>
      Consectetur adipiscing elit. Integer ultricies mi nec elit pretium
      porta. Ut pellentesques mollis magna et.
    </p>
  </div>
</div>
<div class="slide showSlide" id="slide-4">
  <img
    class="slide-image"
    src="{% static 'images/crops/34-tomb-edited.jpeg' %}"
    width=auto
    height=593
  >
  <div class="txt-overlay">
    <p class="big-word">Lorem ipsum dolor sit amet.</p>
    <p>
      Consectetur adipiscing elit. Integer ultricies mi nec elit pretium
      porta. Ut pellentesques mollis magna et.
    </p>
  </div>
</div>
</div>

{% endblock %}