{% extends 'base.html'%}
{% block content %}
{% load static %}
{% load markdown_extras %}
{% load app_extras %}
<div>
  <h1>Ministerial Record</h1>
  {% if perms.main_app.change_ministerial_record %}
    <a href="{% url 'ministerial_record_update' min_rec.id %}">Edit</a>
  {% endif %}
  <div>
    <a href="{{ min_rec.pdf_link }}">
      View my ministerial record.
    </a>
  </div>
  <div class="img-grid"> 
    {% for menu_image in menu_images %}
    <div class="img-grid-item">
      <a href="#{{ menu_image.text|slugify }}" class="menu-img" id="menu-img-{{ forloop.counter }}">
        <div class="img-frame">
          {% if menu_image.image_link %}
          <img
            class="img-link img-main-page"
            src="{{ menu_image.image_link }}"
          >
          {% else %}
          <div class="substitute"></div>
          {% endif %}
          <h2 class="img-heading">
            {% if 'preaching' in menu_image.text %}
              {{ menu_image.text|title|insert_slash:' ' }}
            {% else %}
              {{ menu_image.text|title }}
            {% endif %}
          </h2>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <h1 id="preaching-worship">Preaching/Worship</h1>
  {{ min_rec.preaching_worship|markdown|safe }}
  <h1 id="pastoral-care">Pastoral Care</h1>
  {{ min_rec.pastoral_care|markdown|safe }}
  <h1 id="spiritual-life">Spiritual Life</h1>
  {{ min_rec.spiritual_life|markdown|safe }}
  {{ min_rec.background_and_development|markdown|safe }}
  {{ min_rec.theological_orientation }}
  <h1 id="community-connection">Community Connection</h1>
  {{ min_rec.community_connection|markdown|safe }}
  <h1 id="religious-education">Religious Education</h1>
  {{ min_rec.approach_religious_education|markdown|safe }}
  <h1 id="administration">Administration</h1>
  {{ min_rec.administration|markdown|safe }}
</div>

{% endblock %}