{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1>
  {% if ministry_page.heading %}
    {{ ministry_page.heading }}
  {% else %}
    Ministry
  {% endif %}
</h1>
<div id="ministry-page-container">
  <div>
    <div class="youtube-video-container">
      <iframe class="youtube-video" width="560" height="315" src="
      {% if ministry_page.video_link %}
        {{ ministry_page.video_link }}
      {% else %}
        https://www.youtube.com/embed/r01EvyngNIk
      {% endif %}
      " title="YouTube video player
      " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
      <p>
        {% if ministry_page.video_caption %}
          {{ ministry_page.video_caption }}
        {% else %}
          Wayne preaching before 500 colleagues in Asilomar, California.
        {% endif %}
      </p>
      {% if ministry_page.other_text %}
        {{ ministry_page.other_text }}
      {% endif %}
  </div>
  <div>
    <a href="{% url 'ministerial_record' %}"><h1>View my ministerial record.</h1></a>
  </div>
</div>

{% endblock %}