{% extends 'base.html' %}

{% block nav-vertical %}
{% load static %}
<ul class="nav-menu">
  <li class="nav-link">
    <a href="{% url 'blog' %}">Blog</a>
  </li>
  <li class="nav-link">
    <a href="{% url 'spiritual_direction' %}">Spiritual Direction</a>
  </li>
  <li class="nav-link">
    <a href="{% url 'ministry' %}">Ministry</a>
  </li>
  <li class="nav-link">
    <a href="{% url 'guided_meditations' %}">Guided Meditations</a>
  </li>
  <li class="nav-link">
    <a href="{% url 'sacred_journeys' %}">Sacred Journeys</a>
  </li>
  <li class="nav-link">
    <a href="{% url 'art_and_music' %}">Art and Music</a>
  </li>

  {% if user.is_authenticated %}
    <li class="nav-link">
      <a href="{% url 'logout' %}">Log out</a>
    </li>
  {% else %}
  <li class="nav-link">
    <a href="{% url 'signup' %}">Sign up</a>
  </li>
    <li class="nav-link">
      <a href="{% url 'login' %}">Log in</a>
    </li>
  {% endif %}
</ul>

{% endblock %}