{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load markdown_extras %}
{% load app_extras %}
{% if page %}
  {% if perms.main_app.change_ministerial_record %}
  <h3 ><a class="edit-link" href="{% url 'spiritual_direction_update' page.id %}">Edit</a></h3>
  {% endif %}
{% endif %}
<h2 class="primary-heading">{{ page.title|safe }}</h2>
{% if page.blurb %}
  <div id="blurb" class="main-text" >
    {{ page.blurb|markdown|safe }}
  </div>
{% endif %}
<div class="img-grid"> 
  {% for menu_image in menu_images %}
  <div class="img-grid-item">
    <a href="#{{ menu_image.text|slugify }}" class="menu-img" id="menu-img-{{ forloop.counter }}">
      <div class="img-frame">
        {% if menu_image.image_link %}
        <img
          class="img-link img-main-page"
          src="{{ menu_image.image_link }}"
        >
        {% else %}
        <div class="substitute"></div>
        {% endif %}
        <h2 class="img-heading img-heading-spi-dir">
          {% if 'what' in menu_image.text %}
            {{ menu_image.text|title|questify }}
          {% else %}
            {{ menu_image.text|hyphenate_one|title }}
          {% endif %}
        </h2>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
<h2 id="what-is-spiritual-direction" class="tertiary-heading">
  What Is Spiritual Direction?
</h2>
<div class="main-text">
  {{ page.what_is_spiritual_direction|markdown|safe }}
</div>
<h2 id="what-do-spiritual-directors-do" class="tertiary-heading">
  What Do Spiritual Directors Do?
</h2>
<div class="main-text">
  {{ page.what_do_spiritual_directors_do|markdown|safe }}
</div>
<h2 id="one-to-one-sessions" class="tertiary-heading">
  One-To-One Sessions
</h2>
<div class="main-text">
  {{ page.one_on_one_sessions|markdown|safe }}
</div>
<h2 id="contact-wayne-for-a-session" class="tertiary-heading">
  Contact Wayne For A Session
</h2>
<div class="main-text">
  {{ page.contact_wayne_for_a_session|markdown|safe }}
</div>
{% endblock %}