body {
  font-family: 'Source Sans Pro', sans-serif;
  /* font-family: Avenir,Helvetica,Arial,sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* position: relative; */
  background: #19181A;
  color: rgba(250,177,98,.7);
  /* color: #fab162; */
  font-size: 18px;
}

#logo {
  font-size: 96px;
}

/* #cdsldrcntnr {
  width: 420px;
} */

#page-wrap {
  width: 1200px;
  margin: 0 auto;
}

#txt > h2 {
  margin-top: 0;
  margin-bottom: 11px;
}

#part-one {
  display: flex;
  margin-bottom: 2em;
}

/* .row {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  flex-wrap: wrap;
} */

.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.post-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.no-picture {
  width: 300px;
  height: 300px;
}

.post-image {
  float: left;
  padding: 0px 25px 2px 0px;
}

.backdrop-container {
  position: relative;
}

.slide-image {
  position: absolute;
}



.overlay {
  position: absolute;
  height: 565px;
  width: 420px;
  background-color: rgba(250,177,98);
}

/* .overlay {
  height: 565px;
  width: 420px;
  background-color: rgba(250,177,98,.7);
} */

#part-two {
  /* position: relative; */
}

/* #img-blog {
  background: url('/static/images/lily-2020.jpeg');
  background-size: contain;
  backdrop-filter: grayscale(100%);
} */

.blog-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.img-main-page {
  height: 380px;
  width: 570px;
  object-fit: cover;
}

.img-frame {
  position: relative;
  padding: none;
  margin: none;
}

.post-preview {
  display: flex;
  margin-bottom: 5px;
}

.post-preview-image-container {
  margin-right: 15px;
}

.post-preview-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.post-preview:hover .post-preview-image {
  filter: grayscale(100%);
}
.post-preview:hover > .post-preview-heading {
  filter: grayscale(100%);
}

.img-frame:hover > .img-heading {
  display: inline;
  color: rgba(250,177,98,.7);
}

.img-frame:hover > .img-link {
  filter: grayscale(100%);
}

.img-heading:hover {
  color: rgba(115, 115, 115, 0.8) !important;
}

.img-text {
  /* position: absolute; */
  top: 50px;
  right: 50px;
  
}

.img-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  display: none;
  text-align: center;
  font-weight: bold;
  font-size: 400%;
}


.img-heading > span {
  
}

#word-grid {
  position: absolute;
  top: 0px;
  left: 0px;
}


#first-column, #second-column {
  max-height: 593px;
}

#txt {
  height: 565px;
  width: 80%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.phrase {
  font-size: 30px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: rgba(250,177,98,.7);
}

a:hover {
  color: rgba(115, 115, 115, 0.8);
}

header {
  border-bottom: 1px solid rgba(250,177,98,.7);
  padding: 1em 0;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

#socmedia-container {
  display: flex;
  align-items: center;
}

#fb-blue {
  margin-right: 5px;
}

.nav-menu {
  display: none;
}

.nav-link {
  list-style: none;
}

.nav-menu.active {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 42px;
}

.ham-container {
  padding-top: 5px;
  display: flex;
  align-items: center;
}

#ham {
  width: auto;
  height: 30px;
  background-color: rgba(250,177,98,.7);
}

#ham:hover {
  cursor: pointer;
  background-color: rgba(115, 115, 115, 0.8);
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 36px;
  /* padding: 18px 9px; */
}

.nav-item {
  padding-left: 24px;
}

#nav-els {
  padding: 0.2em 0 0 0;
}

#first-column {
  position: relative;
}

#second-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-right: 50px;
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* padding-right: 226.81px; */
}

section {
  min-width: 750px;
  margin: 0 auto;
}

#slider-container {
  margin: 0 auto;
  width: 40%;
}

#slide-2, #slide-3, #slide-4 {
  display: none;
}

.img-link {

}


.txt-overlay {
  position: absolute;
  /* position: relative; */
  max-width: 256px;
  bottom: 140px;
  /* top: 200px; */
  left: 25%;
}

#portrait {
  margin-left: 50px;
}

.big-word {
  font-size: 32px;
  font-weight: bold;
}

.medium-word {
  font-size: 16px;
  font-weight: bold;
  padding-right: 0.5em;
}

footer {
  /* position: fixed; */
  bottom: 0;
  font-size: 12px;
}

/* .link-pair:hover .img, .link-pair:hover p {
  color: rgba(115, 115, 115, 0.8);
  filter: grayscale(100%);
} */

/* .link-pair {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  pointer-events: none;
}

.link-pair img, .link-pair p {
  pointer-events: all;
} */

#all-but-footer {
  min-height: 100vh;
}

#txt > p {
  margin: 0;
}

/* .post {
  padding: 0 1em;
  border: 0.5px solid rgba(250,177,98,.7);
  margin-bottom: 1em;
} */


#meditation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.meditation {
  padding: 0 1em 1em 1em;
  margin: 1em 0;
  width: 340px;
  height: 340px;
  border: 0.5px solid rgba(250,177,98,.7);
}

.meditation > audio {
  width: 250px;
}

.caption {
  background-color:antiquewhite;
  color:#19181A;
  position: absolute;
  width: 100%;
  bottom: 0px;
}