{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load markdown_extras %}

<h2>Photography</h2>
<h3>
  <a class="edit-link" href="{% url 'add_photo' %}">Add photo</a>
</h3>
<div class="img-grid"> 
  {% for key, values in image_dict.items %}
  <div class="img-grid-item">
    <a href="{% url 'gallery_category' values.heading|slugify %}" class="menu-img" id="menu-img-{{ forloop.counter }}">
      <div class="img-frame">
        {% if values.image.image_link %}
        <img
          class="img-link img-main-page"
          src="{{ values.image.image_link }}"
        >
        {% else %}
        <div class="substitute"></div>
        {% endif %}
        <h2 class="img-heading">
            {{ values.heading|title }}
        </h2>
      </div>
    </a>
  </div>
  {% endfor %}
</div>

<h2>Music</h2>
{% if perms.add_music %}
  <h3><a class="edit-link" href="{% url 'music_create' %}">Add a song</a></h3>
{% endif %}
<div id="meditations-container">
  {% for meditation in songs %}
  <div class="meditation">
    <h2>{{ meditation.title }}</h2>
    <audio controls>
      <source src="{{ meditation.audio_link }}" type="audio/mp4">
    </audio>
    {{ meditation.description | markdown | safe }}
    {% if perms.add_guidedmeditation %}
    <a href="{% url 'music_update' meditation.id %}">Edit</a>
    |
    <a href="{% url 'music_delete' meditation.id %}">Delete</a>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}