{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load markdown_extras %}
{% load app_extras %}

<h1>{{ title }}</h1>
<div class="gallery">

  {% for dis in display %}
    <div class="gallery-image-{% cycle 'odd' 'even' %}">
      <div class="image-wall">
        <img
        class="{{ dis.image_type }}"
        src="{{ dis.image_link }}"
      >
      </div>
      <div class="text-wall">
        <div
          class="floating-caption"
          {% if dis.font_size %}
          style="font-size: {{ dis.font_size|make_string }}px;"
          {% endif %}
      
        >
          {% if dis.caption %}
            {{ dis.caption }}
          {% endif %}
          {% if perms.main_app.change_mainpage %}
            <div>
              <a href="{% url 'delete_photo' dis.id %}">Delete</a>
              |
              <a href="{% url 'edit_caption' dis.id %}">Edit Caption</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}

</div>



{% endblock %}