{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load markdown_extras %}
<div class="post-grid">
  {% for post in posts %}
  {% if post.photo_link != Null %}
  <a class="post-link" href="{% url 'post_detail' post.slug %}">
    <div class="img-frame post">
      <img
        class="img-link"
        src="{{ post.photo_link }}"
        width=300
        height=300
      >
      <h2 class="img-heading">
        {{ post.title }}
      </h2>
    </div>
  </a>
  {% else %}
  <a href="{% url 'post_detail' post.slug %}">
    <div class="img-frame post">
      <div
        class="img-link no-picture"
        height=300
        width=300
      >
      </div>
      <h2 class="img-heading">
        {{ post.title }}
      </h2>
    </div>
  </a>
  {% endif %}

  {% endfor %}
  </div>
{% endblock %}