{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load markdown_extras %}
{% if user.is_authenticated %}
  <h2><a href="{% url 'post_create' %}">Add a Post</a></h2>
{% endif %}
<div class="">
  {% for post in posts %}
  {% if post.photo_link != Null %}
  <a class="post-link" href="{% url 'post_detail' post.slug %}">
    <div class="post-preview">
      <div class="post-preview-image-container">
        <img
        class="post-preview-image"
        src="{{ post.photo_link }}"
        >
      </div>
      <div>
        <h2 class="post-preview-heading">
          {{ post.title }}
        </h2>
        <p class="post-preview-text">
          {{ post.content|truncatewords:15|markdown|safe }}
        </p> 
        <p>
          {{ post.created_on|date:"M j" }}
        </p>
      </div>
    </div>
  </a>
  {% else %}
  <a href="{% url 'post_detail' post.slug %}">
    <div class="post-preview">
      <div class="post-preview-image-container" width="300" height="300">
        <div class="post-no-image"></div>
      </div>
      <div>
        <h2 class="post-preview-heading">
          {{ post.title }}
        </h2>
        <p class="post-preview-text">
          {{ post.content|truncatewords:15|markdown|safe|cut:"#" }}
        </p>
        <p>
          {{ post.created_on|date:"M j" }}
        </p>
      </div>
    </div>
  </a>
  {% endif %}

  {% endfor %}
  </div>
{% endblock %}