{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load markdown_extras %}
{% if perms.main_app.add_post %}
  <h3>
    <a class="edit-link" href="{% url 'post_create' %}">Add a Post</a>
    |
    <a class="edit-link" href="{% url 'blog_index_page_update' page.id %}">Change page styles</a>
  </h3>
{% endif %}
<div class="">
  {% for post in posts %}
  <a class="post-link" href="{% url 'post_detail' post.slug %}">
    <div class="post-preview">
      <div class="post-preview-image-container">
        {% if post.image %}
        <img
          class="post-preview-image"
          src="{{ post.image_link }}"
        >
        {% else %}
        <div class="post-no-image"></div>
        {% endif %}
      </div>
      <div>
        <h2 class="post-preview-heading content-heading">
          {{ post.title }}
        </h2>
        <p class="post-preview-text content-body">
          {{ post.content|truncatewords:15|markdown|safe|striptags }}
        </p> 
        <p class="byline">
          {{ post.author }} | {{ post.created_on|date:'M j' }}
          {% if perms.main_app.change_post or perms.main_app.delete_post %}
            |
          {% endif %}
          {% if perms.main_app.change_post %}
            <a href="{% url 'post_update' post.slug %}">Edit</a>
          {% endif %}
          {% if perms.main_app.change_post and perms.main_app.delete_post %}
            |
          {% endif %}
          {% if perms.main_app.delete_post %}
            <a href="{% url 'post_delete' post.slug %}">Delete</a>
          {% endif %}
        </p>
      </div>
    </div>
  </a>

  {% endfor %}
  </div>
{% endblock %}