{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load markdown_extras %}
<div id="blog-container">
  <div class="post">
    {% if post.image %}
      <img class="post-image" src="{{ post.image_link }}" height=300 width=auto>
    {% endif %}
    <h2 class="primary-heading">{{ post.title }}</h2>
    <p class="byline">
      {{ post.author }} | {{ post.created_on|date:'M j' }}
      {% if perms.main_app.change_post or perms.main_app.delete_post %}
        |
      {% endif %}
      {% if perms.main_app.change_post %}
        <a href="{% url 'post_update' post.slug %}">Edit</a>
      {% endif %}
      {% if perms.main_app.change_post and perms.main_app.delete_post %}
        |
      {% endif %}
      {% if perms.main_app.delete_post %}
        <a href="{% url 'post_delete' post.slug %}">Delete</a>
      {% endif %}
    </p>
    <div class="main-text">
      {{ post.content | markdown | safe }}
    </div>
  </div>
</div>

{% endblock %}